table {
    border-collapse: collapse;
    border: 1px solid black;
  }
  th, td {
    border: 2px solid black;
    padding: 7px;
    
  }
  .green {
    color: pink(32, 194, 32);
    font-size: 15px;
  }
  .blue {
    color: rgb(255, 0, 13);
  }
  .red {
    color: rgb(0, 4, 255);
  }